---
---

@import "{{ site.theme }}";

#main-content {
  background-image: linear-gradient(to bottom right, #ef0a67, #120a3d);
  height: 510px;
}

.width-fill {
  width: -webkit-fill-available;  
}

.height-fill {
  height: -webkit-fill-available;  
}
