---
---

@import "{{ site.theme }}";

.content-background {
  background-image: linear-gradient(to bottom right, #0c0259, #09014e, #030128);
  padding: 2.5rem 5rem 2.5rem 5rem;
}

.content-container {
  background-image: linear-gradient(to bottom right, #ef0a67, #2b0a72, #120a3d);
  height: 510px;
}

.div-round {
  border-radius: 100px;
}

.zoom {
  left: 65rem;
  top: 5rem;
  zoom: 0.5;  
}

.width-fill {
  width: -webkit-fill-available;  
}

.height-fill {
  height: -webkit-fill-available;  
}
