---
---

@import "{{ site.theme }}";

.content-background {
  background-image: linear-gradient(to bottom right, #0c0259, #09014e, #030128);
  padding: 2.5rem 5rem 2.5rem 5rem;
}

.content-container {
  background-image: linear-gradient(to bottom right, #ef0a67, #ce0a5e, #6b0a6b, #2b0a72, #200f5f, #190f4c, #120a3d);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  height: 510px;
}

.div-round {
  border-radius: 3rem;
}

.slogan {
  position: relative;
  left: 5rem;
  top: 5rem; 
  width: 35%;
  color: #fff;
}

.slogan-text {
  
}

.zoom {
  left: 65rem;
  top: -8rem;
  zoom: 0.5;  
}

.left-space {
  margin-left: 3rem;
}

.nav {
  float: right;
  left: -15rem;
  top: 1.5rem;
  position: relative;
}

a {
  color: #4fb5ce;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 200;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a, h1, p {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 900;
}

.width-fill {
  width: -webkit-fill-available;  
}

.height-fill {
  height: -webkit-fill-available;  
}
